
/*papel de parede*/
     .painel{
   background:url("../img/Mark.06.png");
   background-repeat:no-repeat;
   background-attachment:fixed;
max-width:100%;
 position:relative;
 left:0%;

}
body{
  background-color:#000080;
}
    /*carrosel*/
    .botao-carosel{
      color:black;
      font-size:40px;
     
    }

    /*cabeçalho*/
    header{
      font-size:4em;
      background-color:#000080;
      color:#DC143C;
      padding:50px;
      max-width:100%;



    }
    /*rodapé*/
    footer{
      font-size:4em;
      background-color:#000080;
      color: #DC143C;
      padding:50px;
     max-width:100%;
    }
    /*imagem dos card*/
      .img-cartão{
      max-width:100%;
      }
      .img-cartão2{
     max-width:100%;
        
        
      }

      /*posição dos card*/
      .posição{
        display:inline-block;
        position:relative;
        left:30%;
        top:0px;
      }
      .posição2{
        display:inline-block;
         left:70%;
         top:100px;
      }
      .posição3{
        display:inline-block;
        position:relative;
        left:150%;
        top:90px;
      }
      /*barra de navegação*/
      .cor-barra-navegacao{
        background:#FFA500;
        margin:5px ;
      }

        .botao-navega{
          background:#DC143C;
          color:black;
          

        }
        .botao-navegadrop:hover{
          background:#DC143C;
          color:black;

        }
 
      
      .largura-nave{
       max-width:100%;
      
      }
      .espaçamento-menu-nav{
        margin:5px 20px;
      }

      /*configuração do botão*/
      .btn-personalizado{
        background:red;
        color:white;
        
      }
       .cor1:hover{
        background:black;
        color: white;
        transition: background 2s;
      }
      
    
      /*---para tela de telefone-------*/
       @media (max-width: 575.98px) { 
        /*papel de parede*/
         h2{
      font-size:12px;
    }
     .painel{
   background:url("../img/Mark.06.png");
   background-repeat:no-repeat;
   background-attachment:fixed;
max-width:100%;
 position:relative;
 left:0%;

}
        header{
      font-size:4em;
      background-color:#000080;
      color:#DC143C;
      padding:50px ;
      max-width:100%;

     }
         /*rodapé*/
        footer{
          font-size:4em;
          background-color:#000080;
          color: #DC143C;
          padding:50px;
           max-width:100%;
    }
          .posição{
        display:inline-block;
        position:relative;
        left:60px;
        top:0px;
      }
      .posição2{
        display:inline-block;
        position:relative;
         left:60px;
         top:100px;
      }
      .posição3{
        display:inline-block;
        position:relative;
        left:60px;
        top:100px;
      }

        }
        /*---para tela grande de telefone -------*/
      @media (min-width: 576px) and (max-width: 767.98px) { 

   .painel{
   background:url("../img/Mark.06.png");
   background-repeat:no-repeat;
   background-attachment:fixed;
width:20%;
 position:relative;
 left:0%;

}


       
          .posição{
        display:inline-block;
        position:relative;
        left:0px;
        top:0px;
      }
      .posição2{
        display:inline-block;
        position: relative;
         left:250%;
         top:150px;
      }
      .posição3{
        display:inline-block;
        position:relative;
        left:550%;
        top:100px;
      }

     /*cabeçalho*/
    header{
      font-size:4em;
       background-color:#000080;
      color:#DC143C;
      padding:50px ;
   max-width:100%;

     }
        /*rodapé*/
        footer{
          font-size:4em;
          background-color:#000080;
          color: #DC143C;
          padding:50px;
         max-width:100%;
    }max-width:100%;

     .largura-nave{
       max-width:100%;

       }
     }
     @media (min-width: 768px) and (max-width: 991.98px) {

     /*papel de parede*/
   .painel{
   background:url("../img/Mark.06.png");
   background-repeat:no-repeat;
   background-attachment:fixed;
max-width:100%;
 position:relative;
 left:0%;

}
             .posição{
        display:inline-block;
        position:relative;
        left:0px;
        top:0px;
      }
      .posição2{
        display:inline-block;
        position: relative;
         left:250%;
         top:150px;
      }
      .posição3{
        display:inline-block;
        position:relative;
        left:550%;
        top:100px;
      }

     /*cabeçalho*/
    header{
      font-size:4em;
      background-color:#000080;
      color:#DC143C;
      padding:50px ;
      max-width:100%;

     }
        /*rodapé*/
        footer{
          font-size:4em;
          background-color:#000080;
          color: #DC143C;
          padding:50px;
          max-width:100%;
    }

     .largura-nave{
     max-width:100%;

       }
     }

         
  

      
       
